# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Secrets (Important!)
credentials.json
token.json
config.py
sparrow.code-workspace

# User Data & History
users/
histories/
email_*.txt
email.txt
test_gmail.py
token.json
emails/

# OS
.DS_Store

# Runtime
.req_hash
.modelfile_hash
bot.log
